* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

html, body {
    height: 100%;
}

header {
    height: 100px;
    padding: 20px 0;
}

.logo a{ 
    position: absolute;
    top: -180px;
    left: 65%;
    transform: translateX(-50%);
    width: 150%;
}

.logo  {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
}

.menu {
    padding-top: 30px;
    width: 100%;
    text-align: right;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
    border: 1000px;
    border-radius:0px;
    width: 180px;
    cursor: pointer;
}

.extras {
    position: relative;
    bottom: -0px;
    right: -150px;
    width: 1300px;
    height: 100px;
    border-radius:50% ;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
    padding-top: 2px;
    width: 101%;
    text-align: right;
}

.social-media img {
    display: block;
    width: 30px;
    margin: 20px 0;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.texto-sobre h1 {
    font-size: 50px;
    text-align: center;
}

.texto-sobre p{
    margin: 20px;
    color:black;
    font-size:17px;
    font-weight: bold;
    max-width: 1000px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-sobre button{
    border: 1000px;
    background-color:rgb(68, 79, 164) ;
    border-radius:40px;
    width: 180px;
    cursor: pointer;
    background-color: #0471b9;
    color: rgb(255, 255, 255);
    padding: 0px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #025307;
}

body {
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

/* Adiciona media query para telas menores (como celulares) */
@media only screen and (max-width: 600px) {
    .center {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 100%;
    }

    .menu {
        text-align: center;
    }

    .extras {
        width: 100%;
    }

    .social-media {
        align-items: center;
        justify-content: center;
    }

    .texto-sobre {
        align-items: center;
    }
}


.container {
    position: relative; /* Adiciona um contexto de posicionamento ao contêiner */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: black;
}

.container iframe {
    position: absolute; /* Posiciona o iframe em relação ao contêiner */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}




.button {
    width: 25px; /* Ajuste a largura do botão aqui */
    height: 23px; /* Ajuste a altura do botão aqui */
    position: absolute;
    top: 20px; /* Ajuste a distância do botão do topo da tela aqui */
    left: 20px; /* Ajuste a distância do botão do lado direito da tela aqui */
    cursor: pointer;
    
  }
  
  .line {
    background-color: #000000;
    height: 2px;
    width: 100%;
    position: absolute;
    
  }
  
  .line:nth-child(1) {
    top: 0;
  }
  
  .line:nth-child(2) {
    top: 50%;
  }
  
  .line:nth-child(3) {
    bottom: 0;
  }
  
  .dropdown {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
  }
  
  .button:hover .dropdown {
    display: block;
  }

  .dropdown a {
    font-family: Arial, Helvetica, sans-serif;
  }



  /* CSS */
.search-box {
    position: relative;
}

.search-box input[type="text"] {
    opacity: 0; /* inicialmente escondido */
    width: 200px;
    transition: opacity 0.4s linear;
}

.search-box .search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; /* torna o ícone clicável */
}

.search-box .search-icon img {
    width: 30px;
    height: 20px;
}


  











 
  
  